* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.farm {
  background: linear-gradient(rgba(8, 127, 91, 0.9), rgba(8, 127, 91, 0.08)),
    url("farm.jpg");
  margin: auto;
  height: 450px;
  opacity: 0.9;
  color: white;
  object-fit: cover;
  text-align: center;
}
.intro-text {
  height: 500px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro-text h2 {
  padding: 5px;
  text-align: center;
  /* background-color: #20c997; */
  font-size: 48px;
}
.intro-text h4 {
  font-size: 24px;
  text-align: center;
}

.top-items,
.testimonials {
  margin-top: 30px;
  padding: 24px;
  /* background-color: blue; */
}
.items {
  margin-top: 30px;
  /* background-color: goldenrod; */
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1);
  /* background-color: red; */
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 8px;
  border-radius: 5px;
}
.item img {
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.add {
  text-align: center;
  width: 120px;
  color: white;
  background-color: teal;
  padding: 10px;
  /* display: block; */
}
.add:hover {
  background-color: lightcoral;
  transition: all 500ms;
}
/* .testimonials {
  margin-top: 30px;
  padding: 10px;
} */

.explore {
  text-align: center;
  /* position: absolute; */
  color: white;
  margin: 80px auto 40px auto;
  padding: 16px;
  background-color: teal;
  width: 300px;
  /* display: inline-block; */
  align-items: center;
}
.users {
  padding: 13px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  line-height: 1.4;
}
.user {
  border-radius: 8px;
  padding: 10px;
  background-color: gray;
  width: 600px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.user-pic {
  border-radius: 50%;
}
.user-info h4 {
  padding: 4px;
  text-align: right;
}

.about {
  color: white;
  margin-top: 30px;
  padding: 16px;
  background-color: teal;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.company,
.address {
  margin: 0 20px 0 20px;
  /* background-color: red; */
  padding: 10px;
  width: 35%;
  text-align: justify;
}

.page {
  padding: 20px 0 10px 0;
  background-color: teal;
  color: white;
  text-align: center;
}
@media (max-width: 612px) {
  .user,
  .about {
    flex-direction: column;
  }
  .company,
  .address {
    width: 80%;
  }
  .explore {
    width: auto;
  }
}

/* responsive navbar  */

nav {
  z-index: 100;
  background-color: teal;
  height: 80px;
  width: 100%;
  position: fixed;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-transform: uppercase;
}

a.active,
a:hover {
  background-color: lightcoral;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  margin-right: 40px;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(4, 167, 167);
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background-color: lightcoral;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
